<div class="row">
    <div class="col-md-3">
        <nav>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a routerLink="post-list" class="nav-link" routerLinkActive="active" class="nav-link">
                        Saiba quais são os próximos campeonatos!
                    </a>
                </li>
                <li>
                    <a>Em breve</a>
                </li>
                <li>
                    <a>Em breve</a>
                </li>
                <li>
                    <a>Em breve</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-md-9">
        <router-outlet/>
    </div>
</div>